* {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(105, 105, 105);
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.desc {
  font-size: 1.7rem;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
}

.contact {
  margin-top: 5%;
}

.image {
  width: 2rem;
}

.gtri {
  width: 6rem;
}

@media (max-width: 991px) {
  .col-lg-9 {
      margin-top:20px;
      text-align: center;
  }

  .img-thumbnail {
    max-width: 50%;
  }
}

.link {
  color: #2196F3;
}

.link:hover {
  text-decoration: underline;
}